body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    display: none;
}

#homepage {
    display: block;
    text-align: center;
}

#homepage img {
    max-width: 100%;
    height: auto;
}

#consulta, #consultaInfo, #consultaErro {
    padding: 20px;
}

h2 {
    color: #0072CE;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"], input[type="radio"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #0072CE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005BB5;
}
